{{ define "main" }}
  <section>
    <p><a href="/1986/the-legend-of-zelda">discover the story of the timeline</a></p>

    <p>other ways to browse:</p>
    <ul>
      <li class="focus-this-one"><a href="/stories">The Stories</a><br>pick a place to start, and learn how we got there</li>
      <li><a href="/timelines">The Timelines</a><br>compare the state of the timeline from game to game</li>
      <li><a href="/threads">The Threads</a><br>explore recurring elements found throughout the timeline</li>
    </ul>

    <aside>
      <p>the story of me and what I wanna do here, link legends of zelda and how it filled holes with fanfic, maybe even show old fansite screenshots, include the fairy gif, talk about what I started thinking about as of wind waker, talk about how I think about it now</p>
      <p>is this just the nsidr article I'm gonna write to intro it though?  I'm gonna need to one/two-paragraph summarize that here probably and keep the bulk of it in the article</p>
    </aside>
  </section>

{{ end }}

{{ define "footer" }}
  no footer on homepage
{{ end }}
