{{ define "main" }}
  <article>
    {{ with .Content }}{{ . }}{{ end }}

    {{ range where ( where .Site.Pages "Section" "timelines" ) ".Title" .Title }}
      <a href="{{ .Params.Url }}">{{ .Content }}</a>
    {{ end }}

    {{ $threads := where .Site.Pages "Params.story" .Title }}
    {{ with $threads }}
      <ul>
      {{ range $threads }}
        <li>{{ .Title }} - {{ .Content }}<br>
        <a href="/{{ .File.Dir }}">Follow this thread &gt;</a></li>
      {{ end }}
      </ul>
    {{ end }}
  </article>
{{ end }}
